/* TechLogo */
.imgStyle {
  max-height: 210px;
  margin: auto;
}

.techLogo {
  margin: 10px;
}
.logoText {
  margin-top: 4px;
  text-align: center;
  font-size: 0.7em;
}

.imgWidth {
  width: 75px;
  margin: 0 auto;
}
.cardModified {
  padding: 0;
  margin: 10px 10px;
}
.cardBodyModified {
  padding: 0;
}
